<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul class="menu">
      <li>
        <a id='home-nav-link' href="/addon-antivirus/2-n/index.html"><%= vars.product_full %></a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-antivirus/2-n/release-notes.html">Release Notes</a>
      </li>
      <li class="has_submenu">
        <span><strong>Installing and Configuring</strong></span>
        <ul>
          <li>
            <a id='home-nav-link' href="/addon-antivirus/2-n/install-mirror.html">Installing the <%= vars.product_full_mirror %></a>
          </li>
          <li>
            <a id='home-nav-link' href="/addon-antivirus/2-n/install.html">Installing <%= vars.product_full %></a>
          </li>
          <li>
            <a id='home-nav-link' href="/addon-antivirus/2-n/changing-ports.html">Changing the Port used by <%= vars.product_name_mirror %> and <%= vars.product_name %></a>
          </li>
        </ul>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-antivirus/2-n/updating-databases.html">Updating Virus Definitions on an Internal <%= vars.product_name %> Mirror</a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-antivirus/2-n/upgrade.html">Upgrading</a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-antivirus/2-n/monitoring-logs.html">Monitoring <%= vars.product_name %> Logs</a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-antivirus/2-n/troubleshooting.html">Troubleshooting</a>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
