<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul class="menu">
      <li>
        <a id='home-nav-link' href="/addon-antivirus/3-n/index.html"><%= vars.product_full %></a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-antivirus/3-n/release-notes.html">Release Notes</a>
      </li>
      <li class="has_submenu">
        <span><strong>Installing and Configuring </strong><%= vars.product_short %></span>
        <ul>
          <li>
            <a id='home-nav-link' href="/addon-antivirus/3-n/hardware-enforcement.html">Configuring Hardware Enforcement</a>
          </li>
          <li>
            <a id='home-nav-link' href="/addon-antivirus/3-n/install-mirror.html">Installing and Configuring <%= vars.product_full_mirror %></a>
          </li>
          <li>
            <a id='home-nav-link' href="/addon-antivirus/3-n/install.html">Installing and Configuring <%= vars.product_full %></a>
          </li>
          <li>
            <a id='home-nav-link' href="/addon-antivirus/3-n/changing-ports.html">Changing the Port Used by <%= vars.product_short %> and <%= vars.product_short_mirror %></a>
          </li>
          <li>
            <a id='home-nav-link' href="/addon-antivirus/3-n/changing-ports-existing.html">Changing the Port Used by <%= vars.product_short %> with an Existing Mirror</a>
          </li>
        </ul>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-antivirus/3-n/updating-databases.html">Updating Virus Definitions on an <%= vars.product_short_mirror %></a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-antivirus/3-n/upgrade.html">Upgrading <%= vars.product_short %></a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-antivirus/3-n/monitoring-logs.html">Monitoring <%= vars.product_short %> Logs</a>
      </li>
      <li>
        <a id='home-nav-link' href="/addon-antivirus/3-n/troubleshooting.html">Troubleshooting <%= vars.product_short %></a>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
